*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    margin: 3vh 15% 3vh 15%;
    display: inline-block;
}

.product{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 65vh;
    margin: 0vh 0 8vh 2%;  
}

img{
    width: 100%;
    height: 100%;
}

